body {
  background-color: rgb(167, 217, 239);
  margin: auto;
}

.message {
  color: yellow;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  margin: 4px;
  padding: 3px;
}

.delete-img {
  width: 32px;
  height: 32px;
}

.delete {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.delete:hover {
  background-color: red;
  border-radius: 5px;
}

.button {
  margin: 10px;
}

.title {
  margin: 20px;
}
